.prompt-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
}

.prompt-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* Above the overlay */
    width: 90%; /* Adjust based on your preference */
    max-width: 500px; /* Adjust based on your preference */
    text-align: center;
    margin: 10px;
}
  
.prompt-question {
    margin-bottom: 20px;
}

.prompt-actions {
    display: flex;
    gap: 5px;
}
  
.prompt-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    flex: 1;
}
  
.prompt-button.confirm {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.prompt-button.confirm:hover {
    filter: brightness(0.75);
}
  
.prompt-button.cancel {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: none;
    color: black;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid #ccc;
}

.prompt-button.cancel:hover {
    background-color: #ccc;
}