/* Table.css */
.table-container {
    background-color: #fff; /* Background color for the table */
    border: 1px solid #ddd; /* Border around the table */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    overflow: hidden;
    min-height: 35px;
    min-width: 200px;
    z-index: 100;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.dragging {
    box-shadow: 0 5px 16px rgba(0,0,0,0.25);
}

.table-header {
    background-color: var(--accent-color); /* Accent color for the header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    padding: 0 10px;
}
  
.table-name {
    font-size: 1.25em;
    color: white; /* Dark text for contrast */
    background: none;
    font-weight: 600;
}

.tabler-header-buttons {
    display: flex;
    gap: 10px; /* Space between buttons */
}
  
.table-header-button {
    font-size: 1em;
    color: #fff;
    border: none;
    cursor: pointer;
    background: none;
}
  
.attribute-list {
    list-style: none;
}

.attribute-list .attribute {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black; 
    height: 35px;
    padding: 0 10px;
    align-items: center;
    
}

.attribute-name {
    font-weight: 600;
}

.attribute-list .attribute:last-child {
    border: none;
}

.attribute-left {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: 5px;
}

.attribute-action-button {
    font-size: 1em;
    color: black;
    border: none;
    cursor: pointer;
    background: none;
}

.fa-key, .fa-share-nodes {
    color: #7f8c8d;
}

.italic {
    font-style: italic;
}

.add-attribute {
    display: flex;
    justify-content: space-between;
}

.add-attribute-button {
    font-size: 1em;
    color: black;
    border: none;
    cursor: pointer;
    background: none;
}

@media screen and (max-width: 600px) {
    .table-container {
        cursor: default;
    }  
}

.bi-plus, .bi-x {
    font-size: 1.5em;
}

.draggable {
    cursor: move;
}