/* Table.css */
.table-container {
    background-color: #fff; /* Background color for the table */
    border: 1px solid #ddd; /* Border around the table */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    overflow: hidden;
    min-height: 100px;
}
  
.table-header {
    background-color: var(--accent-color); /* Accent color for the header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
  
.table-name {
    font-size: 1em; /* Large text for the table name */
    color: white; /* Dark text for contrast */
}

.tabler-header-buttons {
    display: flex;
    gap: 10px; /* Space between buttons */
}
  
.table-header-button {
    font-size: 1em; /* Button text size */
    color: #fff; /* Button text color */
    border: none; /* Remove border */
    cursor: pointer; /* Pointer cursor on hover */
    background: none;
}
  
.attribute-list {
    list-style: none; /* Remove default list styling */
    padding: 5px;
}

.attribute-list .attribute {
    border-bottom: 1px solid black; /* Separator between attributes */
    display: flex;
    justify-content: space-between;
}
  
.attribute-list .attribute:last-child {
    border-bottom: none; /* Remove bottom border from the last item */
}

.attribute-action-button {
    font-size: 1em; /* Button text size */
    color: black; /* Button text color */
    border: none; /* Remove border */
    cursor: pointer; /* Pointer cursor on hover */
    background: none;
}
