/* Table.css */
.table-container {
    background-color: #fff; /* Background color for the table */
    border: 1px solid #ddd; /* Border around the table */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    overflow: hidden;
    min-height: 80px;
    min-width: 200px;
    cursor: move;
    z-index: 100;
}
  
.table-header {
    background-color: var(--accent-color); /* Accent color for the header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
  
.table-name {
    font-size: 1em; /* Large text for the table name */
    color: white; /* Dark text for contrast */
}

.tabler-header-buttons {
    display: flex;
    gap: 10px; /* Space between buttons */
}
  
.table-header-button {
    font-size: 1em;
    color: #fff;
    border: none;
    cursor: pointer;
    background: none;
}
  
.attribute-list {
    list-style: none;
}

.attribute-list .attribute {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black; 
    padding: 10px;
}

.attribute-list .attribute:last-child {
    border: none;
}

.attribute-left {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: 5px;
}

.attribute-action-button {
    font-size: 1em;
    color: black;
    border: none;
    cursor: pointer;
    background: none;
}

.fa-key, .fa-share-nodes {
    color: #7f8c8d;
}

.italic {
    font-style: italic;
}

@media screen and (max-width: 600px) {
    .table-container {
        cursor: default;
    }  
}
