* {
   margin: 0;
   padding: 0;
}
 
:root {
   --accent-color: DarkSlateGray;
   --button-color: #007bff;
}

body {
   margin: 0;
   font-family: 'optimistic_display';
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.App {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
}