* {
   margin: 0;
   padding: 0;
}
 
:root {
   --accent-color: #1E3050;
   --button-color: #007bff;
}

body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}